body {
  font-family: Arial, sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  padding: 80px 100px;
}

.top-form .logo {
  max-width: 221px;
  margin-left: auto;
}

.top-form .logo img {
  width: 100%;
}

.top-form h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 92px;
  text-align: center;
}

.section {
  padding: 40px 0;
}

.section h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40.48px;
  margin-bottom: 30px;
}

.d-grid {
  display: grid;
  column-gap: 30px;
  row-gap: 20px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.data-get label {
  font-size: 24px;
  font-weight: 400;
  line-height: 30.36px;
}

.data-get input {
  height: 26px;
  margin-top: 8px;
  font-size: 20px;
}

.data-get input[type="text"],
.data-get input[type="number"],
.data-get input[type="email"] {
  width: calc(100% - 40px);
  padding: 10px 20px;
}

.data-get input[type="radio"] {
  width: 20px;
  top: 5px;
  position: relative;
}

.data-get input[type="radio"]:checked {
  accent-color: black;
}

.border-dash-blue {
  border: 1px dashed #0066ff;
}

.data-get p {
  font-size: 20px;
  font-weight: 400;
  line-height: 25.3px;
  color: #979797;
  margin-top: 8px;
}

.d-flex {
  display: flex;
}

.gap-30 {
  gap: 30px;
}

.align-items-center {
  align-items: center;
}

.radio-list {
  height: 50px;
}

input#email {
  outline: 3px solid lightgray;
}

.btn-rounded {
  border-radius: 50px;
}

.btn {
  font-size: 24px;
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 12px 31px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .top-form h1 {
    font-size: 32px;
    line-height: 50px;
  }

  .top-form .logo {
    width: 100px;
  }

  .container {
    padding: 50px 30px;
  }

  .section {
    padding: 20px 0;
  }

  .grid-2-col,
  .grid-3-col {
    grid-template-columns: 1fr;
  }

  .section h2 {
    font-size: 24px;
  }

  .data-get label {
    font-size: 18px;
  }

  .data-get input {
    font-size: 16px;
  }
}

@media screen and (max-width: 467px) {
  .container {
    padding: 20px 10px;
  }

  .top-form h1 {
    font-size: 24px;
  }

  .section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .d-grid {
    row-gap: 10px;
  }

  .data-get label {
    font-size: 16px;
  }

  .data-get input {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
    margin-top: 20px;
  }
}
